.reveal pre code {
    font-size: 1.3em;
    line-height: 1.2;
}

.reveal pre {
    width: 120%;
    margin-left: -10%;
}

.reveal .slide-number {
	color: #F7D885;
}

/*-- scss:defaults --*/

$body-bg: #00205B !default;
$body-color: #fff !default;
$link-color: #42affa !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;
$code-block-bg: #191919 !default;
$presentation-heading-color: #F7D885;
$slide-number-color: #F7D885;


.sectionhead {
    font-size: 1em;
    text-align: center;
    color: $body-bg;
    background-color: $body-color;
    margin: 1px;
    padding: 2px 2px 2px 2px;
    width: 120px;
    border-left: 10px solid;
  }


